---
FormatStyle: file       # uses .clang-format in the closest parent dir
Checks: >-
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  google-*,
  -google-readability-braces-around-statements,
  linuxkernel-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-isolate-declaration
...
