# -*- mode: yaml-ts -*-
---
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: false
FixNamespaceComments: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: ".*"
    Priority: 2
IndentGotoLabels: false
IndentWidth: 8
KeepEmptyLinesAtTheStartOfBlocks: false
ObjCBlockIndentWidth: 8
ObjCSpaceAfterProperty: true
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 30
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 0
PenaltyBreakString: 10
PenaltyExcessCharacter: 100
SeparateDefinitionBlocks: Always
SpaceBeforeParens: ControlStatementsExceptForEachMacros
SpacesBeforeTrailingComments: 4
SpacesInContainerLiterals: false
UseTab: AlignWithSpaces
