[submodule ".mutt/mutt-notmuch-py"]
	path = .mutt/mutt-notmuch-py
	url = https://github.com/honza/mutt-notmuch-py.git
[submodule ".vim/pack/dporter/start/vim-surround"]
	path = .vim/pack/dporter/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/dporter/start/vim-commentary"]
	path = .vim/pack/dporter/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/dporter/start/vim-lion"]
	path = .vim/pack/dporter/start/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule ".vim/pack/dporter/start/vim-repeat"]
	path = .vim/pack/dporter/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/dporter/start/black"]
	path = .vim/pack/dporter/start/black
	url = https://github.com/ambv/black.git
[submodule ".vim/pack/dporter/start/nord-vim"]
	path = .vim/pack/dporter/start/nord-vim
	url = git://github.com/arcticicestudio/nord-vim.git
[submodule ".vim/pack/dporter/start/compiler-pytest"]
	path = .vim/pack/dporter/start/compiler-pytest
	url = https://github.com/5long/pytest-vim-compiler.git
[submodule ".vim/pack/dporter/start/base16-vim"]
	path = .vim/pack/dporter/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/pack/dporter/start/vim-picker"]
	path = .vim/pack/dporter/start/vim-picker
	url = https://github.com/srstevenson/vim-picker
