*.elc
*~
/bin/bin/pash
/bin/bin/shfmt
/bspwm/.config/bspwm/bspwm_colours
/colours/.wallpaper.jpg
/emacs/.emacs.d/.emacs.desktop.lock
/emacs/.emacs.d/.newsrc-dribble
/emacs/.emacs.d/.newsrc.eld
/emacs/.emacs.d/.org-id-locations
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/cursory-latest-state.eld
/emacs/.emacs.d/desktop
/emacs/.emacs.d/diary
/emacs/.emacs.d/ebdb.gpg
/emacs/.emacs.d/elfeed
/emacs/.emacs.d/eln-cache
/emacs/.emacs.d/elpa
/emacs/.emacs.d/eshell
/emacs/.emacs.d/eww-bookmarks
/emacs/.emacs.d/feeds.el
/emacs/.emacs.d/fontaine-latest-state.eld
/emacs/.emacs.d/image-dired/
/emacs/.emacs.d/lisp/kbd-mode
/emacs/.emacs.d/lisp/lin
/emacs/.emacs.d/lisp/mct
/emacs/.emacs.d/multisession/
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/nov-places
/emacs/.emacs.d/org-journal.cache
/emacs/.emacs.d/org-roam.db
/emacs/.emacs.d/package-quickstart.el
/emacs/.emacs.d/projects
/emacs/.emacs.d/prot-eww-visited-history
/emacs/.emacs.d/prot-lisp
/emacs/.emacs.d/recentf
/emacs/.emacs.d/request
/emacs/.emacs.d/savehist
/emacs/.emacs.d/saveplace
/emacs/.emacs.d/session.*
/emacs/.emacs.d/tramp
/emacs/.emacs.d/transient
/emacs/.emacs.d/url
/emacs/.emacs.d/var/
/newsboat/.config/newsboat/urls
/tmux/.tmux_colours.conf
/vim/.vim/.netrwhist
/vim/.vim/current_scheme
/vim/.vim/spell
