!/.config/karabiner
!/.config/goldencheetah.org
*.DS_Store
*.elc
*.orig
*.rbc
*.rej
*.swp
*~
/.CFUserTextEncoding
/.Trash
/.atom
/.base16-manager
/.base16_theme
/.vimrc_background
/.bash_history
/.bash_sessions
/.bundle
/.config/*
/.dropbox
/.emacs.d
/.exercism.json
/.gem
/.gnupg
/.irb_history
/.lesshst
/.local
/.mutt/tmp
/.npm
/.rvm
/.ssh
/.v8flags.*
/.viminfo
/.vim/plugged
/.vim/spell
/.wget-hsts
/.wpm.csv
/Applications
/Calibre
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/doc
/journal
/learning
/mail
/media
/misc
/notes
/papers
/projects
/reference
/src
/work
/writing
