* {
	font-family: Inter, "Noto Sans Nerd Font";
	font-size: 12px;
}

window {
	margin: 0px;
	border: none;
	background-color: #1a1d21;
}

#input {
	margin: 5px;
	border: none;
	color: #e0dcd4;
	background-color: #22262b;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #1a1d21;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #1a1d21;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #e0dcd4;
}

#entry:selected {
	background-color: #22262b;
	color: #e0dcd4;
}
