* {
  border: none;
  border-radius: 0;
  min-height: 0;

  font-family: Inter, "Noto Sans Nerd Font";
  font-size: 13px;
}

window#waybar {
  background-color: #1a1d21;
  color: #e0dcd4;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  border-bottom: 1px solid #1a1d21;
}

.modules-left {
  margin-left: 3px;
}

.modules-right {
  margin-right: 3px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background-color: #282c34;
  box-shadow: inset 0 -3px #b4bcc4;
}

#workspaces {
  background-color: transparent;
  border-radius: 0;
  padding: 0 5px;
}

#workspaces button {
  all: initial;
  padding: 0 5px;
  margin: 0;
  min-width: 20px;
  background-color: transparent;
  color: #e0dcd4;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  background-color: #282c34;
  color: #e0dcd4;
}

#workspaces button.active {
  background-color: #282c34;
  box-shadow: inset 0 -3px #ccc4b4;
  color: #ccc4b4;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #cdacac;
  color: #1a1d21;
}

#workspaces button.empty {
  opacity: 0.5;
}

.modules-right {
  background-color: transparent;
  border-radius: 0;
  padding: 0 5px;
}

#mode {
  background-color: #3d424a;
  border-bottom: 3px solid #b4bcc4;
  padding: 0 10px;
}

#idle_inhibitor,
#keyboard-state,
#pulseaudio,
#wireplumber,
#network,
#cpu,
#memory,
#clock,
#tray,
#mode,
#scratchpad {
  margin: 0;
  padding: 0 10px;
  background-color: transparent;
  color: #e0dcd4;
  /*
	 * border-left: 1px solid #282c34; /\* Subtle separator *\/
	 */
}

#idle_inhibitor:hover,
#keyboard-state:hover,
#pulseaudio:hover,
#wireplumber:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#clock:hover,
#tray:hover {
  background-color: #282c34;
  color: #e0dcd4;
}

#idle_inhibitor {
  color: #c0bdb8;
}

#idle_inhibitor.activated {
  color: #ccc4b0;
}

#window,
#workspaces {
  margin: 0 4px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}

#pulseaudio.muted {
  color: #676d77;
}

#network.disconnected {
  color: #cdacac;
}

#tray {
  background-color: transparent;
  /*
	 * border-left: none;
	 */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #cdacac;
}
