[Unit]
Description=Timer for Notmuch new mail incorporation
Documentation=man:notmuch-new(1)

[Timer]
OnBootSec=1m
OnUnitActiveSec=10m
Unit=notmuch.service

[Install]
WantedBy=timers.target