[Unit]
Description=Timer for backup run
Documentation=man:restic-backup(1)

[Timer]
OnCalendar=daily
Persistent=true
Unit=backup.service

[Install]
WantedBy=timers.target
